
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #bbb8b8;
}

.actions {
  width: 50px;
}
