h1 {
  font-size: xx-large;
}

.user-list {
  display: flex;
  font-size: x-large;
  font-weight: 200;
  border: 5px solid black;
  margin-bottom: 15px;
  list-style: none;
  height: 70px;
  width: 95vw;
}

.user-name {
  min-width: 150px;
}

.Number_of_posts {
  margin-left: 60vw;
  justify-content: end;
  margin-right: 50px;
  margin-top: 30px;
  font-size: large;
}

.userphotoName {
  display: flex;
  flex-direction: row;
}

.photo {
  border: 2px solid black;
  height: 75px;
  width: 80px;
  margin-bottom: 10px;
  margin-right: 5px;
}
